*{
    padding: 0;
    margin: 0;
}

.header-top{
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.header-content{
    width: 100%;
    max-width: 400px;
    margin: 10px 50px;
    
}

.header-content img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;

}

.content-text{
    transform: translateY(-120px);
    width: 100%;
    max-width: 600px;
}
.content-text h1{
    font-size: clamp(2.5rem, 3.6719rem + -3.75vw, 1.5625rem);
    font-weight: 700;
}
@media screen and (max-width:1200px) {
    .content-text{
        transform: none;
    }
}